# IMPORTING AND MANIPULATING TABULAR DATA

> by Dr Juan H Klopper

- Research Fellow
- School for Data Science and Computational Thinking
- Stellenbosch University

## INTRODUCTION

Data Science by its name and nature requires us to have acces to data. We have learned that images, sounds files, text, and much more pieces of information can be represented as data. In this course, we concentrate on tabular data.

Tabular data is data in rows and columns, either extracted from an image, a database, or similar structures and represented in an array. An array is a set of values in rows and columns. As in the case of colour images, it can these rows and column can also be stacked _on top_ of each other. We will consider only sincgle _stacks_ with data in a spreadsheet. There is a fantastic package for importing such tabular data.

The **pandas** package has much to do with the success of Python as a programming language for Data Science.  It is an enormous package and is used to import data, to manipulate data, to do calculations with data, and even create graphs and plots using the data.

In this notebook, we are going to get a glimpse into the usefulness of the pandas package by importing some data captured in a spreadsheet file.  We will then extract some of the data that is of interest to us.  In later notebooks, we will do all sorts of useful analysis on the extracted data.

## PACKAGES FOR THIS NOTEBOOK

It is useful to import all packages at the start of a notebook. This allows us to keep track of what we are using in the notebook.

In [ ]:
import pandas as pd  # Package to work with data

In [ ]:
import numpy as np  # Numerical analysis package

To import a file from a Google Drive, we need a special function. This is not required when running Python on a local system, where we can simply refer to the _address_ of the file on the internal (or network) drive.

In [ ]:
from google.colab import drive  # Connect to Google Drive

Below, we us a magic command, `%load_ext` to load a `google.colab.data_table`. It produces better tables when using Colab and printing such tables to the screen.

In [ ]:
# Format tables printed to the screen (don't put comment on the same line as the code)
%load_ext google.colab.data_table

## IMPORTING DATA

In Google Colaboratory, we have to _mount_ the cloud drive with our data file. As mentioned above, this setp is not required when using a local system. When running the cell below a link appears that you have to click on. A new tab will open up in your browser. You have to sign in to your Google account again giving permission to this Colab notebook to read files from your Google Drive (all in the name of security which is important). Once this is done a tab will open with a secuirty link that you have to copy (there is a convenient icon next to the secuirty code that will copy it). Copy it an close the tab. Then you have to paste the security key into the generated box below the code and hit enter or return.

In [ ]:
drive.mount('/gdrive', force_remount=True)  # Connect to Google Drive
# With force_remount=True we can run this cell again later if needed

Now we navigate to the desired folder in Google Drive by specifying its address as a string. The address is a string and goes in a set of quotation marks. When you explore your own Google Drive simply note the location of a file if you have data stored somewher else.

Note that you can also import a data file from your local system. There is a code snippet that you will find under the code snipper icon on the top left of this Colab notebook. The icon is the `<>` icon under the magnifying class for searches. You can scroll down the list to find other useful code snippets that you can use in your projects.

In the cell below, we see the `%cd` magic command that let's us change directory.

In [ ]:
%cd '/gdrive/My Drive/DATA SCIENCE/DATA'

The `%ls` magic command will print a list of the files in the directory to which we changed into.

In [ ]:
%ls

We note that there is a csv file called `customer_data.csv`.  We can import it using pandas' `read_csv()` function.  Since it is not a Python function, we have to specify where (from what package) it came from.  This is done by preceding the function with the pandas namespace abbreviation that we used initially, `pd`.

In [ ]:
df = pd.read_csv('data.csv')  # Import the spreadsheet file

Since we navigated to this directory with the `%cd` magic command, we only need to type in the name and extension of your spreadsheet file (using quotation marks as it is a string).

The `type` function used below shows that the object assigned to the `df` computer variable is a DataFrame object.

In [ ]:
type(df)  # Type of the object held in the computer variable df

We can look at the attributes and methods of dataframe objects using Python's `dir` function.

In [ ]:
dir(df)

There is quite a lot of them.  Thw first few are the statistical variables (column headers in the first row of the spreadsheet). We can explore each and every one of the rest of the methods and attributes on the Pandas page for [DataFrame objects](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html).

Once such method is the `head` method.  By default it returns the first five rows of a dataframe object.  An integer value can be passed as argument if we need a different number of rows.

In [ ]:
df.head()

Since we used the `%load_ext google.colab.data_table` magic command at the start of the notebook, the dataframe object is printed to the screen in a very neat and useful way, allowing us to navigate the data.

The `shape` attribute (property) shows use the number of rows and columns, returned as a tuple. Note that unlike a method (which is like a Python function), an attribute has no parentheses.

In [ ]:
df.shape  # Nuber of rows (subjects) and columns (statistical variables)

There are $200$ observations (rows) and $13$ statistical variables (columns) in this _tidy_ data set.

The `columns` property list all the column header names, called **labels**.

In [ ]:
df.columns  # List the statistical variables

The majority of DataFrame objects will have two axes (rows and columns).  We can verify this using the `ndim` attribute.

In [ ]:
df.ndim

The `size` attribute gives us the total number of data point values (the product of the number of rows and columns).

In [ ]:
df.size

The last attribute that we will take a look at is the `dtype` attribute.  It returns the Python data type of the values in each of the columns. This is a very important step. Pandas does its best to interpret the data type. Dependening on how the spreadsheet was created and how dat was entered, it is not always possible to correctly interpret the type. In this case we might have to change the data type. Remember that we base analysis of data on the dat type of the variable.

In [ ]:
df.dtypes

Categorical variables are denoted as an `object` type. Numerical variable can be either integer or floating point numbers (numbers with decimal places). These are `int64` and `float64` (denoting 64-bit precision) respectively.

We refer to the data about data as meta data. It is important to view the meta data of any data that you import to make sure that the data did indeed import correctly and to start to learn a little bit about the data.

## EXTRACTING ROWS AND COLUMNS

To analyse data, we want to extract only certain values. This is a very useful skill.

Pandas refers to a single column in a dataframe object as a **Series** object.  We can also create standalone series objects, but in the context of analysing data, a standalone series object is perhaps not as useful.  Below, we extract just the *Age* column (statistical variable) and save it as a series object.  The notation uses square brackets, with the column name represented as a string.

In [ ]:
age_column = df['Age'] # Note the use of square brackets

Our new object is indeed a series object.

In [ ]:
type(age_column)

Since we have no *illegal* characters in the column name such as spaces, we can also make use of dot notation.  Below, we overwrite the `age_column` computer variable by reassigning it (using the same name).

In [ ]:
age_column = df.Age # A shorter and more convenient way of extracting a column

We can display the first few rows in the series object with the `head` method.

In [ ]:
age_column.head()

Here we see further evidence that it is not just a Python list or a numpy array, but a series object, by noting the index column.

At times it may be more useful to work with a numpy array, rather than a pandas series. To extract the age values as a numpy array, we use the `.to_numpy` method.

In [ ]:
age = df.Age.to_numpy()

The object assigned to the `age` computer variable is a numpy array.

In [ ]:
type(age)

As a numpy array, it has a number of attributes and methods. We use the `dir` function again to print out all the attributes and methods for this Python object type.

In [ ]:
dir(age)

Below, we look at the minimum value and the maxiumum value in the `age` array, and calculate the average of all the values using the `.min`, the `.max`, and the `.mean` methods.

In [ ]:
age.min() # The minimum value in the array

In [ ]:
age.max() # The maximum value in the array

In [ ]:
age.mean() # The mean of all the values in the array

We can specify inidividual rows (subjects) by making use of the `.iloc[]` attribute (or property, which is the term used by pandas) for a dataframe object.  The `iloc` property stands for _integer location_, so we must use integers to specify the row and column numbers.  We add an index value in square brackets for the property.  Below, we extract the first row. Remember than Python is `0` indexed, so the first column has an index of $0$.

In [ ]:
df.iloc[0]

We can specify certain rows by passing a list of integer values.

In [ ]:
df.iloc[[2, 3, 5]] # Rows 3, 4, and 6 (remember, we are starting the indexing at 0)

Slicing is also allowed.  This is done by specifying a range of values. The range object uses colon notation. Below, we use `0:2`. This includes the indices `0`, and `1`. The last index value in NOT included.

In [ ]:
df.iloc[0:2]  # The first and second row

The columns can also be indexed.  Here we use the *row, column* notation.  Below then, we extract the first five rows, but only for the *DOB* and *Age* variables, which are columns 1 and 2.

In [ ]:
df.iloc[0:5,[1, 2]]

Above, we passed the rows as a range and the two columns as a list.

The `.loc[]` property can be used in a similar fashion. Here we can specify the column names (as a list or a slice).  If the index values were not integers, but strings, we could also use those names.  Remeber that the row and column names are referred to as **labels**.  Below, we extract the same labels as we did above.  Note, though, that the range includes the sixth row. When extracting rows and column, ALWAYS use the `row, column` notation. Since we want two columns, we pass them as a Python list object (in square brackets) after the comman. Each column name is passed as a string.

In [ ]:
df.loc[0:5, ['DOB', 'Age']]

The `.iat` indexing extracts a single *cell* by using its row and column index.

In [ ]:
df.iat[3, 2]

There is also an `at[]` indexing, which does the same. Here we can specify labels, though.

## FILTERING DATA

Filtering data is one of the most useful things that we can do with data in a  dataframe object.  In this section, we will start to learn how to filter data by extracting numpy array objects based on criteria that we which to investigate or by creating brand new dataframes.

In order to do filtering we use conditionals. We have learned about these in the prviosu notebook. For instance, below we ask if $3$ is greater than $4$ and then if $3$ is equal to $3.0$.

In [ ]:
# A conditional returns a True or False value
3 > 4

In [ ]:
# The double equal symbols conditional
3 == 3.0

### FINDING UNIQUE VALUES IN A COLUMN

Remember that we refer to the **sample space** of a variable as all the possible values that a variable can take.  This is particulary useful when looking at categorical variables.  The `unique` method is used to find all the sample space elements in a column.

In [ ]:
df.Smoke.unique() # Data entries encoded as 0, 1, and 2

We note that there are three elements in the sample space of this column.  This method is great for *surprises* that might be hidden in a dataframe such as one or more strings in a numerical data column.  A common example would be the *Age* column that has one or two strings such as *thirty-two* in it, instead of 32.  Strings in a numerical data column will prevent calculations on that column and such errors in the data must be corrected.  We will learn how to change values using the `replace` method later in this notebook.

### AGES OF ALL NON-SMOKERS

The `Smoke` column contain information about the smoking habits of the respondents in the data set. We have seen above that the sample space contains three integers, `0` for not smoking, `1` for smoking, and `2` for previous smoking.

Here, we are interested in creating an array that contains the ages of only the patients who do not smoke in our dataframe.  To do this, we use indexing directly.  A conditional is used to include only *0* patients (`df.Smoke == 0`).  We then reference the column that we are interested in, which is `Age`, followed by the `to_numpy` method.

In [ ]:
non_smoker_age = df[df.Smoke == 0]['Age'].to_numpy()
non_smoker_age # Print the values to the screen

When first using this code, it may seem a bit difficult. It does read rather like an English language sentence, though. _Take the dataframe object. Extract the rows in column `Smoke` that are `0`. For all of these rows return the `Age` values as a numpy array_.

As an alternative, we can use the `loc` indexing, passing a _row_ and a _column_ specification as arguemnts. The _row_ interrogates the `Smoke` column and includes only those with a `0` entry. The _column_ is then specified to the the `Age` column.

In [ ]:
df.loc[df.Smoke == 0, 'Age'].to_numpy()

The different ways to interact with pandas adds to its power and you can find a way to achieve your data analysis goals that best first your way of work.

Since this is now a numpy array object, we can use methods such as the `mean` method to calculate the average age of all the non-smoking participants.

In [ ]:
non_smoker_age.mean()

### NON-SMOKER AGES WHERE SURVEY CHOICE IS 3

We now need to filter by two criteria (two columns), `Age` and `Survey`.  The filtering can either refer to **and** or **or**.  In the first, we require all the criteria to be met and in the second, only one of the criteria need be met (return a `True` value).

The symbol for **and** is `&` and for **or** is `|`. Below, we use `&` since we want both criteria to be met. Each filter is created in a set of parentheses. the code uses the `row, column` notation.

In [ ]:
non_smoker_satisfied_age = df.loc[(df.Smoke == 0) & (df.Survey == 3), 'Age'].to_numpy()

In English the code reads: _Take the `df` dataframe object and look down the rows of the `Smoke` and `Survey` columns. Return only the rows where `Smoke` is `0` AND `Survey` is `3`. Then return the `Age` column for all these rows fulfilling both criteria_.

### NEVER SMOKED OR SATISFACTION SCORE GREATER THAN 3

We are interested in those participants who never smoked OR those that have a satisfaction score of more than `3`. Here our filtering criteria requires only _one_ of the two criteria to return `True`.  A clearer way to build these filtering criteria, is to save them as a computer variable first.

In [ ]:
# Saving the filtering criteria as a computer variable
# The > symbol is used to indicate greater that 3
crit = (df.Smoke == 0) | (df.Survey > 3)

We can now pass this to the `loc` property (as row and then specify the column name).

In [ ]:
non_smoker_or_satisifed_age = df.loc[crit, 'Age'].to_numpy()

### NON-SMOKERS AND SATISFACTION SCORE OF 3 OR LESS

Non-smokers are either those who have never smoked (`0`) or those that are ex-smokers (`2`). Both need inclusion. In other words, we need to exclude the smokers. It is easier to select just one element. One way to deal with the interrogation of the data is through negation.  We can change our language into an opposte view, i.e start with filtering the current rows with a score of greater than 3. Then we simply use negation with the tilde, `~`, symbol to exclude these cases.

In [ ]:
# Include those who do not smoke and have a score of more than 3
crit = (df.Smoke == 1) & (df.Survey > 3)

# Now we exclude these rows with a ~ negation symbol
not_no_smoker_satisfied_age = df.loc[~crit, 'Age'].to_numpy()
not_no_smoker_satisfied_age

### CREATE A NEW DATAFRAME OBJECT THAT ONLY CONTAINS PARTICIPANTS YOUNGER THAN 50

Instead of just an array of values, we want to create a new dataframe object.  (Because it is a part of an existing dataframe object, some Data Scientist refer to it as a sub-dataframe object.)  It includes all the columns (variables), but only for patients up to and including 49 years of age.  This is very simple to achieve.

In [ ]:
new_df = df[df.Age < 50]
new_df.head()

Let's verify the result of our code by looking at the maximum *Age* value of this new dataframe.  Below, we see three ways to return the maximum value in the new *Age* column.

In [ ]:
new_df.Age.max()  # Using the column name directly

In [ ]:
new_df['Age'].max()  # Using the column name as a column index name

In [ ]:
new_df.loc[:, 'Age'].max()  # Using the loc property

Above we see the shorthand notation for including *all* elements, the colon, `:`.  Since this is the `.loc[]` property, we expect row and column labels.  For the rows then, we use the colon symbol to indicate that we are interested in all the rows.  After the comma we indicate the column label and outside of the `.loc[]` indexing, we use the `.max()` method.

### CREATE A NEW DATAFRAME FOR PARTICIPANTS WITH A RESTRICTED LIST OF JOB TITLES

Up until now, we have had single values for our filter criteria, even though we had multiple criteria.  Here we might want to filter on more than one value, say *IT consultant*, *Energy manager*, and *Clinical embryologist*. Since the sample space is quite large, negation would not be a good solution as we would need to list all the other `Vocation` sample space values. Here's how we would create the new dataframe object, by making use of the `isin` method.

We create a list of the sample space elements that we are interested in. We then build a criterium using the `isin` method. Its job is exactely what it sounds like, _is in_, i.e. select only an element that _is in_ the list.

In [ ]:
# Create a Python list object with all the column names
jobs = ['IT consultant', 'Energy manager', 'Clinical embryologist']

# Build a criterium
crit = df.Vocation.isin(jobs)

# Create the new dataframe object and print the first 5 rows to the screen
jobs_df = df.loc[crit]
jobs_df.head()

### CREATE A NEW DATAFRAME WHERE THE WORD _MANAGER_ APPEARS IN THE `VOCATION` COLUMN

This filter uses a string method, `str.contains`.  It is ideal for free-form input cells in a spreadsheet, where we can search for keywords.  Below, we see an extra `na=False` argument.  This is used to deal with dataframe obejcts with missing data.  We will learn how to deal with missing data later.

In [ ]:
# Build a criterium with the str.contains method
crit = df.Vocation.str.contains('manager', na=False)

# Create the new dataframe object and print the first 5 rows to the screen
vocation_df = df.loc[crit]
vocation_df.head()

We note that the term *manager* appear in all the values for the *Vocation* column.

## UPDATING OR CHANGING THE VALUES IN A DATAFRAME

Another valueble skill is to be able to change actual data in a dataframe object.  Fortunately, datadrame objects can be manipulated in many ways.  We begin by looking at changes to the column names.

### RENAMING COLUMNS

We can replace the names of individual columns with the `rename` method using a dictionary.  Below we change *Name* to *Participant*.  For changes to be permanent we need to change the default `inplace` argument value to `True`.

In [ ]:
df.rename(columns={'Name':'Participant'}, inplace=True)
df.columns

In [ ]:
df.head()

### ADD $2$ TO EACH AGE VALUE

In specific types of research, personal data are obfuscated to protect the privacy of the people in the dataset.  In a simple case, we might decide to subtract 2 from the age of every patient.  In reality, they are all 2 years older.  To fix this prior to data analysis, we must add 2 to each age.

There are more than one way to achieve our goal. One way is to create a function and then use the `apply` method to apply the function to the values in a column.

User-defined functions are created using thd `def` and `return` keywords. The former tells Python that we are about the create a new function. After a space follows the name we want to givw to our function. A set of parentheses follow that contains a placeholder for the argument. In its simplest form, the latter keyword follows. As the name indicates thsi section returns a value for our function. Below, it is clear from the code that `x` will hold an argument value. The function then adds $2$ to the argument value.

In [ ]:
def add2(x):
  return x + 2

The first five age values are printed below using the `head` method for the `df.Age` series.

In [ ]:
df.Age.head()  # Before

The `apply` method is now used and the `add2` function is used. The value in each row is now increased by $2$.

In [ ]:
df.Age = df.Age.apply(add2)
df.Age.head()  # After

The `lambda` function in Python is a quick albeit more advanced way to achieve our goal. It create a nameless function.  Below, we subtract 2 from every *Age* entry to get back to where we started.

In [ ]:
df.Age = df.Age.apply(lambda x: x - 2)
df.Age.head()

The simplest way to add a value would be to simply refer to a column (a series object) and overwrite it. Remember that the `=` assignment operator assigns what is to its right to what is to its left. Below, we use series notation to overwrite the `Age` column by adding $2$ to each row.

In [ ]:
df.Age = df.Age + 2

### CHANGE NOMINAL VARIABLE TO ORDINAL VARIABLE

For the purposes of encoding, we might want to change all *Active* values to 0 and *Control* values to 1 in the *Group* column.  To do this, we could use the `map` method and then pass a dictionary object as argument. The dictionary holds key value pairs. The key is the old value and the value is the new value.

In [ ]:
df.Group = df.Group.map({'Control':0, 'Active':1})
df.Group.head()

One *problem* with the `map` method is that it will delete the entries (rows) for values that we do not specify.  To keep the original data when not specified, we can use the `replace` method instead.

## CHANGING COLUMNS

Adding columns is an often used technique when changing column. It is as simple as stating the new name in square brackets as a string and then adding a list of values.  We need it to be the same length (number of rows) as the dataframe.

### SPLITTING THE `PATIENT` COLUMN INTO A `FirstName` and `LastName` COLUMN

Below, we create two new columns called *FirstName* and *LastName* from the *Participant* column, splitting on the space using the `str.split` method.

In [ ]:
new_data = df.Participant.str.split(' ', expand=True)
df['FirstName'] = new_data[0]
df['LastName'] = new_data[1]
df.head()

We can also combine two columns into one. Below, we use string concatination, combining the last name, a comma with a space (as a string) and the first name.

In [ ]:
df['Name'] = df.LastName + ', ' + df.FirstName
df.Name.head()

### CREATE A CATEGORICAL VARIABLE FROM NUMERICAL DATA

Below, we create three sample space elements: *low*, *intermediate*, and *high* for the *CholesterolBefore* value of each patient.  To do so, we use the pandas `cut` function with specified bins. To understand the concept of bins, we start by looking at the minimum and maximum values.

In [ ]:
df.CholesterolBefore.min()

In [ ]:
df.CholesterolBefore.max()

With the `bins=3` argument, we create three equally sized bins in the range form $1.2$ to $11.1$.

In the code below, we create a new variable called `CholesterolBeforeLevel`. We use the pandas `cut` function with three arguments. The first is a pandas series object (the colum of interest). The second is the number of bins and the last is a list of names for each of the three bins.

In [ ]:
# Non-physiological binning of cholesterol values
df['CholesterolBeforeLevel'] = pd.cut(df.CholesterolBefore, bins=3, labels=['low', 'intermediate', 'high'])

Below, we view the first 10 new categorical values and actual values as a numpy array object.

In [ ]:
df[['CholesterolBefore', 'CholesterolBeforeLevel']].head(10).to_numpy()

These three bins are non-physiological in that we have specific values for low, normal, and high levels of cholesterol. To control the bin values, we can specify the bin cut-off values as a list. To understand this we need to know about open and closed intervals. An open interval such as $\left( 10 , 20 \right)$ means that neither $10$ nor $20$ are included. Inclusion requires a closed interval, denoted by $\left[ 10 , 20 \right]$. We also have half-open intervals. In $\left( 10 , 20 \right]$, $10$ is not included but $20$ is. We can also have $\left( 10, 20 \right]$, with $10$ not included and $20$ being included.

Consider then the values $11.2, 12.2, 13.2, 15, 16, 16, 19.2, 20$. Imagine then that everything below $13$ is _low_, $13$ to below $16$ is normal and $16$ and above is high. Proper intervals would then be $\left[ 11.2 , 13 \right)$. Here we use the lowest value as the inlcuded lower bound, but $13$ is not included. A value of $13$ would be in the second bin. The second bin would have bounds $\left[ 13 , 16 \right)$ and the last $\left[ 16 , 20 \right]$.

In pandas we can only have left or right half-open intervals. The keyword argument `right` is set to `False` by default, with right open intervals.

There is a `right=True` argument value.  It states that the intervals are right-closed so that `bins=[10,20,30]` would mean intervals (10,20] $10$ not being included but $20$ being included here and (20,30] $20$.  Similarly the `include_lowest=False` argument means that the left-most value is not included (the 10 in this explanation).  Set the argument to `True` to have the first interval be [10,20].

Below, we create three bins with intervals low = $[0, 2.5)$, normal = $[2.5, 5.0)$, and high = $[5.0,20)$.  So, if a patient has a cholesterol value of 5, they would fall in the high group. Note that $20$ is above the maximum value and is a safe value to use. Note also that there are four numbers for three bins.

In [ ]:
df.CholesterolBeforeLevel = pd.cut(df.CholesterolBefore,
                                   bins=[0,5,10,20],
                                   right=False,
                                   labels=['low', 'normal', 'high'])

### DELETE A COLUMN

Deleting a column can be achieved using the `drop` method.  To make the deletion permamant, we use the `inplace=True` argument.  Let's delete our newly created *Name* column.

In [ ]:
df.drop(columns=['Name'], inplace=True)

In [ ]:
df.columns

## SORTING

Sorting can be a useful way to interact with our data.  Below, we change the dataframe object by sorting the *LastNames* alphabetically.  All the corresponing column will change as well, so that each row still pertains to the same patient.

In [ ]:
df.sort_values(by='LastName')

The alphabetical order can be reversed by using the `acending=False` argument.

In [ ]:
df.sort_values(by='LastName', ascending=False)

We can sort by more than one column at a time.  This is done by passing a list of column names.  Below, we sort by *Age* and the *sBP*.  With default values, numerical and date values will be from smaller to larger values and from earlier to later dates and categorical variables will be alphabetical.

In [ ]:
df.sort_values(by=['Age', 'sBP'])

The three participants aged 30 now have their systolic blood pressure values in ascending order.

Not all the column names passed as a list to sort by, need be in the same order.  We can also pass a list with corresponding order.

In [ ]:
# Sort Age in ascending and sBP in descending order
df.sort_values(by=['Age', 'sBP'], ascending=[True, False])

The three patients aged 30 are now sorted by the highest systolic blood pressure first.

The `sort_value` method does not make permanent changes to the dataframe, unless the argument `inplace` (which is set to `False` by default) is set to `True`.

The `nlargest` method is useful if we only want to view the highest numerical values in a column.  Below, we look at the 15 highest systolic blood pressure values.

In [ ]:
df.sBP.nlargest(15)

We can reverse the order of the syntax above a bit, if we want to see the rest of the columns too.

In [ ]:
# Column is listed as arguemnt
df.nlargest(10, 'sBP')

If we want the smallest values, there is also a `nsmallest` method.

## MISSING VALUES

### THE NUMPY `nan` VALUE

It is very often that datasets contain missing data.  The numpy library has a specific entity called a `nan` value.  This stands for *not a number*.  Below, we see it by itself and also as an element in a Python list.

In [ ]:
np.nan

In [ ]:
my_list = [1, 2, 3, np.nan]
my_list

The list object, `my_list`, above, cannot be used as argument to functions such as `sum`, since Python does not know how to deal with this missing data.  Below, we use the numpy `sum` function.  The results is a `nan` value.

In [ ]:
np.sum(my_list)

Now, let's have a look at how pandas deals with misssing values.  We will import another spreadsheet file that contains missing data.

### A DATAFRAME WITH MISSING DATA

In [ ]:
missing_df = pd.read_csv('MissingData.csv')

The DataFrame has the following columns: `age`, `salary`, and `previous_company`  Most of the columns are self-explanatory.  The *previous_company* indicates whether the person had previously used a different investment company instead of ours or had no investment at all.

When we print the dataframe object, we note all the `NaN` values, which pandas uses to indicate missing data.

In [ ]:
missing_df

### DELETING MISSING DATA

The first way of dealing with missing data, is to simply remove all the rows that contain any missing data.  This is done with the `.dropna()` method.  To make the changes permanent, we would have to use the `inplace=True` argument. Instead of permanent removal, we create a new dataframe object.

In [ ]:
complete_data_df = missing_df.dropna() # Non permanent removal
complete_data_df

There is another argument for this method, `how` that is set to `any`.  This default states that if any of the values in a row are missing, the whole row is dropped.  There is also an `all` value for this argument that will only remove a row if all the values are missing.

Another argument is `axis`.  By default this is set to `0` or `index`, which indicates that we are interested in dropping rows.  When set to `1` or `columns`, columns will be dropped.

We can constrain which columns to include when checking for missing values, using the `subset` argument.

In [ ]:
missing_df.dropna(subset=['age'])

We see that there are still missing data in the *salary* and *previous_company* collumns.

To find out how many rows contain missing data, we can make use of the fact that `True` and `False` are represented by 1 and 0 and can thus be added.  The `isna` method will return Boolen values depending on whether the data is missing.

In [ ]:
missing_df.age.isna()

We can sum over these Boolean values using the `sum` method. Since `True` values are saved internally to Python as the value $1$, the sum will be the number of values marked as `True` when missing, which as we saw, is what the `isna` method returns.

In [ ]:
missing_df.age.isna().sum()

We see that there are $4$ missing values in the *age* column.

### REPLACING MISSING VALUES

The process of creating values to fill in missing data is called **data imputation** and is a seperate and complicated subject.  The pandas library provides a `fillna` method for filling in the missing data with simple calculations.

Below we use the argument and value `method=ffill` which simply fill empty values with previous value.  There is also a `method=bfill` argument setting that fills the missing data with the next available data down the column.

In [ ]:
missing_df.age.fillna(method='ffill')

We can also specify a specific value.  For numerical data this could be the median for that variable and for categorical data, it might be the mode.  We will learn about summary statistics in the next notebook.  For now, we will use the `median` method.  It calculate the median for a column with numerical data, ignoring missing data automatically.

In [ ]:
# The median age (pandas ignores the missing values)
missing_df.age.median()

We can now impute the missing ages with this median.

In [ ]:
missing_df.age.fillna(missing_df.age.median())

If we want the changes to be permanent, we have to use the `inplace=True` argument.

### DEFAULT MISSING DATA

It is common to use default values when data is not available at the time of capture.  If we know what these are, we can interpret them as missing data when the spreadsheet file is imported.

Below, we import a spreadsheet file that uses `999`, `Nil`, and `Missing` for missing values instead of leaving the spreadsheet cell blank.

In [ ]:
default_missing_df = pd.read_csv('DefaultMissingData.csv')
default_missing_df

We can replace the missing values or specify all the words and numbers used for coding missing data when we import the data file.

In [ ]:
default_missing_df = pd.read_csv('DefaultMissingData.csv', na_values=[999, 'Nil', 'Missing'])
default_missing_df

Those values ar now `NaN`.

## WORKING WITH DATES AND TIMES

In this section, we import a new spreadsheet file.  It contains data on dates and times of biological laboratory investigations.

In [ ]:
dt = pd.read_csv('DatesTimes.csv')
dt

Let's take a look at the data types.

In [ ]:
dt.dtypes

The *SpecimenDate*, *TestDate* and the *TestTime* columns contain objects instead of datetime objects.  We can convert these into a proper datetime data type.  We will do so by creating a new variable (column header) that combines the two of the columns.

In [ ]:
dt['DateTime'] = dt.TestDate + ' ' + dt.TestTime  # Add a space
dt

This new variable is still an object.

In [ ]:
dt.DateTime.dtype

We will now create a new column and use the pandas `to_datetime()` function to convert the object (copied from the *DateTime* column).  The `format=` argument allows us to specify the exact format that the object was in. The format of the data in the `DateTime` column is YYYY/MM/DD HH:MM. We use pandas code to indicate these. Uppercase `%Y` specifies the full year, i.e. `2025` instead of just `25`. The rest of the symbols are self explanatory.

In [ ]:
dt['datetime'] = pd.to_datetime(dt.DateTime, format='%Y/%m/%d %H:%M')
dt

The new `datetime` column is now a datetime object.

In [ ]:
dt.dtypes

Now that this is a datetime object, we might want to analyze this data by month of test.  To do so, we create a new column containing the month and use the `dt.month_name` method. We also shorten the month to the first three letters using the `str.slice` method with the `stop` argument set to `3`.

In [ ]:
dt['month'] = dt.datetime.dt.month_name().str.slice(stop=3)
dt

There are various other values, we can extract from the datetime object.

In [ ]:
dt.datetime.dt.year  # The year

In [ ]:
dt.datetime.dt.hour  # The hour

## CONCLUSION

Pandas is a powerful library and we are going to use all the techniques that we have learned about here to manipulate our data in order to do analyses on it.

There is still a lot we have to learn over and above this, though.  We will do so, whilest analysing our data.